@import url(./reset.css);
@import url(./font/font.css);
@import url(./global.css);








/* 공통속성 */

.flex {
    display: flex;
    align-items: center;
}

body {
    background: var(--black100);
}

/* 헤더 */

header {
    background: var(--white);
    position: relative;
}


header::after {

    content: '';
    background: url(./images/menu-bg-pattern.png);
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: -6px;
    z-index: -1;

}

.header-inner {
    width: calc(100% - 140px);
    position: relative;
    height: 95px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


h1 {
    /* position: absolute; */
    left: 0;
    top: 2px;
}


ul.gnb {
    /* position: absolute;
    right: 0;
    top: 34px; */
    justify-content: space-between;
    width: 200px;
    padding-top: 5px;
}





ul.gnb a.login::before {
    content: '\e91b';
}

ul.gnb a.sign::before {
    content: '\e91c';

}


ul.gnb a::before {
    font-family: 'jt-font';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #ed4043;

}




nav,
.gnb {
    flex-shrink: 0;
}

nav a,
ul.gnb a {
    text-transform: uppercase;
}



nav ul {

    width: 830px;
    height: 95px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}




nav ul li::before {
    content: '\e910';
    font-family: 'jt-font';
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #ed4043;
    display: block;
    opacity: 0;
    transition: .35s;
    padding-bottom: 2px;


}

nav a {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.025em;
}

ul.gnb a {
    font-size: 13px;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.025em;

}

nav ul li.main-menu {
    height: 28px;
    overflow: hidden;
    position: relative;

}



nav ul li.main-menu a {
    height: 21px;
    display: block;
    overflow: hidden;
    position: relative;

}


nav ul li.main-menu .menu-inner {
    position: relative;
    width: 100%;
    transition: .35s;
    /* 시작위치값 지정하지 않으면 transition 적용 안됨 */
    top: 0;
}






nav ul li.main-menu:hover .menu-inner {
    top: -21px;
}

nav ul li.main-menu:hover::before {
    opacity: 1;
}

nav ul li.main-menu:hover span {
    color: #ed4043;
}


nav ul li.main-menu span {
    display: block;
    text-align: center;
}





/* -------------- */



header {
    position: fixed;
    width: 100%;
    z-index: 99;
}


.header-inner h1 img {
    height: 60px;
}

section {
    height: 100vh;
    position: relative;
}

article {
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
}

article.on {
    opacity: 1;
}

.desc,
figure {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}



h2 {
    font-size: 36px;

}



.desc {
    background: #ed4042;
}


figure {
    text-align: center;
    position: relative;

}



#MUGO figure {
    background-color: #ffcc00;
}

#MUGO img {
    animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transform-origin: center bottom;
}


#CHICHI figure {
    background: #0ad17c;
}


#CHICHI img {
    animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transform-origin: center bottom;
}


@keyframes dance {


    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }


}


#WINDY figure {
    background: #0bcacb;
}


#WINDY figure img {
    animation: jump 3s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
    transform-origin: center bottom;
}


@keyframes jump {


    0% {
        transform: translate(0, -8%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -8%)
    }


}










#CAGO figure {
    background: #ffae08;
}



#CAGO figure img {
    animation: jump 3s ease-out infinite;
    transform-origin: center bottom;
}




@keyframes jump {

    0% {
        transform: none;
    }

    15% {
        transform: rotate(-3deg);
    }

    30% {
        transform: rotate(3deg);
    }

    45% {
        transform: rotate(-3deg);
    }

    60% {
        transform: translate3d(0, -5%, 0);
    }

    75% {
        transform: translate3d(0, 1%, 0);
    }

    85% {
        transform: translate3d(0, -3%, 0);
    }

    100% {
        transform: none;
    }



}











#ARI figure {
    background: #fbd04d;
}


#ARI figure img {
    animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transform-origin: center bottom
}


@keyframes dance {

    0% {
        transform: none;
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }



}









#ROK figure {
    background: #404475;

}



#ROK figure img {
    animation: wobble 3.5s ease-out infinite;
    transform-origin: center bottom;
}






@keyframes wobble {

    0% {
        transform: none;
    }

    15% {
        transform: translate3d(-3%, 0, 0) rotate(-1deg);
    }

    30% {
        transform: translate3d(3%, 0, 0) rotate(2deg);
    }

    45% {
        transform: translate3d(-3%, 0, 0) rotate(-2deg);
    }

    60% {
        transform: translate3d(2%, 0, 0) rotate(1deg);
    }

    75% {
        transform: translate3d(-1%, 0, 0) rotate(-1deg);
    }

    100% {
        transform: none;
    }

}



figure img {
    position: absolute;
    z-index: 999;
}





figcaption {
    font-size: 200px;
    font-weight: 800;
    color: rgb(255, 255, 240);
    position: absolute;
    z-index: 10;
    opacity: .4;
    transform: translateY(-100%);
    transition: .5s;

}

.chracter {
    position: absolute;
    left: 50%;
    bottom: 50px;

    transform: translateX(-50%);
    z-index: 99;


}


.chracter ul {
    gap: 50px;
}

section {
    position: relative;
}


.tab-menu {
    display: flex;
}


.center {
    position: absolute;
}



.mugo-mark {
    position: fixed;
    font-size: 14px;
    color: #fff;
    left: -81px;
    top: 50%;
    z-index: 20;
    letter-spacing: 0.025em;
    font-weight: 600;
    transform: rotate(270deg) translateY(-50%);
}



.mugo-main h2 {
    font-weight: 600;
    z-index: 99;
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    top: 194px;
    left: 33%;
    font-family: Binggrae-Bold;
}



.mugo-main span {
    font-size: 32px;
    display: block;
}


.tab-menu li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #fff;
    margin-top: 10px;
    display: block;
    text-align: center;

}

.tab-menu li a {
    position: relative;
    display: block;
    width: 103px;
    height: 103px;
}

.tab-menu li a::after {
    border: 5px solid #ffffff;
    content: '';
    border-radius: 50%;
    width: 93px;
    height: 93px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;

}


.tab-menu li a.on:after {
    opacity: 1;
}

article.on figcaption {
    transform: translateY(0%);
}




.sect2 {
    background: #16a2d5;
}



.story-main h2 {
    font-size: 60px;
    color: #fff;
    z-index: 99;
    font-weight: 600;
    text-align: center;
    top: 115px;
    left: 36%;
    font-family: Binggrae-Bold;
}


.story-main {

    justify-content: center;
    color: #fff;
}

.story-sub h3 {
    font-size: 42px;
}



#STORYBOOK h2 {
    text-align: center;
    color: #fff;
    margin: 115px;
    font-size: 60px;
}


.story-sub {
    margin: 100px;
    padding-left: 50px;
}



.tab-menu li {
    text-align: center;
}

.tab-menu {
    margin: auto;
}

.video_menu {
    display: flex;
    color: #Fff;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
}