@font-face {
    font-family: Binggrae-Bold;
    src: url(./Binggrae-Bold\ \(1\).woff);
  }



  @font-face {
    font-family: Binggrae;
    src: url(./Binggrae.woff);
  }


  @font-face {
    font-family: jt-font;
    src: url(./jt-font.woff);
  }