@font-face {
    font-family: pretendard;
    src: url(./font/Pretendard-Medium.woff2);
}


/* @font-face {opensans;
    font-family: opensans;
    src: url(./font/Binggrae-Bold.woff)
} */
html,
body {
    height: 100%;
}

.wrap {

    font-family: pretendard;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./img/landing_bg.jpg);

}


main {
    margin-top: 100px;
    text-align: center;
    font-size: 20px
}

.flex {
    display: flex;
    margin: 5px;
}

ul.flex li {
    margin: 5px;
}

.flex img {
    margin-top: 20px;
}

.bt {
    padding: 2.5rem;
}


ul.link a:hover {
    background: #fff;
}

.b1 {
    background: #0D9AB4;
    border: 2px solid #0D9AB4;
}

.b1:hover {
    border-color: darkcyan;
    color: darkcyan
}

.b2 {
    background-color: #f94863;
    border: 2px solid #f94863;
}

.b2:hover {
    border-color: #f94863;
    color: #f94863;
}

ul.link a {
    padding: 2.5rem;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
}

ul.link {
    display: flex;
    justify-content: center;
    gap: 20px;
}



p {
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 22px;
}