@import url(/reset.css);

@font-face {
    font-family: pretendard;
    src: url(/cheongwadae/font/Pretendard-Medium.woff2);
}


@font-face {
    font-family: NotoSerif;
    src: url(/cheongwadae/font/NotoSerifKR-Medium.woff2);
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.wrap {
    display: flex;
    width: 100%;

}




#sect1 {
    background-image: url(./img/v_img01_sdown.jpg);
}

header {

    display: flex;
    position: fixed;
    width: 1920px;
    height: 90px;
    justify-content: space-between;
    font-family: pretendard;
    align-items: center;
    border: 1px solid #ffffff;
    color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index: 1;
}

li.main-menu:hover ul.sub .main-menu {
    position: relative;
    text-align: center;
    z-index: 1;
}


.main-menu>a {
    font-size: 25px;
    font-weight: 600;
    padding: 1.5rem;
    display: block;


}

.main-menu:hover>a {
    color: #BF2A4C;
}

.sub-menu {
    border-radius: 8px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 200px;
    display: none;

}

.sub-menu a {
    background: #BF2A4C;
    display: block;
    width: 200px;
}



.main-menu {
    position: relative;
    text-align: center;
    z-index: 1;
}




.sub-menu li a {
    padding-bottom: 20px;
    display: block;
    padding: 0.25rem;
}




.gnb {

    gap: 10px;
}

.gnb2 {
    border-radius: 8px;
    font-weight: 600;
    font-size: 25px;

}

#sect2 h2 {
    font-size: 55px;
    font-family: NotoSerif;
}


#sect2 p {
    font-size: 22px;
    font-family: NotoSerif;
}


.flex {
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


#sect2 {
    background-image: url(./img/section01.jpg);
    text-align: center;
    color: #fff;
}

#sect3 {
    background-image: url(./img/section02.jpg);
}

#sect4 {
    background-image: url(./img/section03\ \(1\).jpg);
}

#sect5 {
    background-image: url(./img/section04.jpg);
    background-position: right center;

}






@media screen and (max-width:640px) {}

@media screen and (max-width:641px) {}

@media screen and (max-width:1280px) {}